# Node
node_modules/
dist/
.env

# Go
vendor/

# Fabric
fabric/network/organizations/peerOrganizations/
fabric/network/organizations/ordererOrganizations/
fabric/network/channel-artifacts/
fabric/network/system-genesis-block/

# Server
server/wallet/
server/data/
server/users.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Superpowers
.superpowers/
