PORT=3000
JWT_SECRET=eventchain-dev-secret-change-in-production
JWT_EXPIRES_IN=24h

# Fabric connection
FABRIC_CHANNEL=eventchain
FABRIC_GATEWAY_PEER=peer0.platform.eventchain.com:7051
FABRIC_CA_URL=https://ca.student.eventchain.com:7054

# Chaincode names
CC_EVENT=event-cc
CC_PREDICTION=prediction-cc
CC_TICKET=ticket-cc
CC_TOKEN=token-cc

# Wallet path
WALLET_PATH=./wallet

# SQLite database path
DB_PATH=./data/users.db
